.background-image {
    background-repeat: no-repeat;
    background-position: top center; /* Center the image horizontally and vertically */
    background-size: contain; 
    background-size: cover;
}

.background-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Dark overlay with 30% opacity */
}

.custom-fade-color {
    background-color: red; /* Replace with your custom color */
  }