<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Programs</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Elevate Your Game with Personalized Precision and Shared Success at Our Tennis Academy</p>
        </div>
        <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">1:1 Private lessons</h3>
                <p class="mb-8 space-y-4 text-left font-light text-gray-500 sm:text-lg dark:text-gray-400">
                    We offer personalized 1-on-1 private lessons meticulously tailored to elevate your game to new heights. Whether you're a beginner, eager to grasp the fundamentals or an advanced player seeking fine-tuning, our dedicated coaches provide strategic insights which will help you achieve your goals.</p>
                <a href="#contact-us" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Get started</a>
            </div>
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">1:2 Semi Private lessons</h3>
                <p class="mb-8 text-left font-light space-y-4 text-gray-500 sm:text-lg dark:text-gray-400">Explore our semi-private tennis lessons, where dynamic and interactive sessions foster friendly competition and collaborative improvement. Join us to share the learning experience with your friend, partner, or sibling. Embrace the joy of enhancing your game together in a vibrant and engaging environment.</p>
                <a href="#contact-us" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">Get started</a>
            </div>
        </div>
    </div>
  </section>