<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-2 mx-auto text-center lg:py-4 lg:px-6">
        <div class="mx-auto max-w-screen-sm">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimonials</h2>
            <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Game-Changing
                Testimonials:
                Stories from our Level Up <span
                    class="self-center text-xl font-semibold whitespace-nowrap dark:text-white material-symbols-outlined">
                    stat_3
                </span>
                <br>Athletic Community
            </p>
        </div>
        <figure class="max-w-screen-md mx-auto overflow-hidden">
            <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                    fill="currentColor" />
            </svg>
        </figure>
        <div class="max-w-screen-md mx-auto flex flex-row overflow-hidden h-48 relative">
            <ng-container *ngFor="let testimonial of testimonials; let i = index">
                <div id="my-container"
                    class="absolute max-w-screen-md mx-auto transition-transform transform duration-1000 ease-in-out"
                    [ngClass]="{
                    'translate-x-0': i === selectedIndex,
                    '-translate-x-full': i < selectedIndex,
                    'translate-x-full': i > selectedIndex
                  }">
                    <blockquote>
                        <p class="text-base lg:text-2xl lg:font-medium text-gray-900 dark:text-white">"{{testimonial.body}}"</p>
                    </blockquote>
                    <figcaption class="flex items-center justify-center mt-6 space-x-3">
                        <ng-container *ngIf="testimonial.designation">
                            <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                <div class="pr-3 text-sm lg:text-base lg:font-medium text-gray-900 dark:text-white">{{testimonial.name}}
                                </div>
                                <div class="pl-3 text-xs lg:text-sm font-light text-gray-500 dark:text-gray-400">
                                    {{testimonial.designation}}</div>
                            </div>
                        </ng-container>
                    </figcaption>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="max-w-screen-xl px-4 mx-auto text-center lg:px-6 flex justify-center items-center">
        <button (click)="onCarouselChange()" [disabled]="leftCarouselButtonDisabled">
            <span [ngStyle]="leftCarouselButtonDisabled && {'color': 'gray'} || null"
                class="self-center ml-4 text-3xl font-normal whitespace-nowrap dark:text-white material-symbols-outlined">
                arrow_left_alt
            </span>
        </button>
        <button (click)="onCarouselChange(false)" [disabled]="rightCarouselButtonDisabled">
            <span
                class="self-center ml-4 text-3xl font-normal whitespace-nowrap dark:text-white material-symbols-outlined"
                [ngStyle]="rightCarouselButtonDisabled && {'color': 'gray'} || null">
                arrow_right_alt
            </span>
        </button>
    </div>
</section>